<a href="https://colab.research.google.com/github/Tara0599/Struktur-Data/blob/main/Praktikum2_G.231.22.0040.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def selectionSort(number_list):
    for i in range(len(number_list)):
        min_index = i
        for j in range(i + 1, len(number_list)):
            if number_list[j] < number_list[min_index]:
                min_index = j
        number_list[i], number_list[min_index] = number_list[min_index], number_list[i]
    return number_list

numbers = [47, 56, 33, 69, 42, 58, 37, 60]
sorted_numbers = selectionSort(numbers.copy())
print("Sorted Angka cantik:", sorted_numbers)
print("Original Angka cantik:", numbers)

Sorted Angka cantik: [33, 37, 42, 47, 56, 58, 60, 69]
Original Angka cantik: [47, 56, 33, 69, 42, 58, 37, 60]

In [35]:
my_tuple = (1, 2, 3, "apel", "pisang")
print("Elemen Pertama:", my_tuple[0])
print("Elemen Ketiga:", my_tuple[2])
if "apel" in my_tuple:
    print("apel ada di tuple saya")
another_tuple = (4, 5, "cherry")
combined_tuple = my_tuple + another_tuple
print("Combined Tuple:", combined_tuple)
repeated_tuple = my_tuple * 3
print("Repeated Tuple:", repeated_tuple)

Elemen Pertama: 1
Elemen Ketiga: 3
apel ada di tuple saya
Combined Tuple: (1, 2, 3, 'apel', 'pisang', 4, 5, 'cherry')
Repeated Tuple: (1, 2, 3, 'apel', 'pisang', 1, 2, 3, 'apel', 'pisang', 1, 2, 3, 'apel', 'pisang')

In [33]:
my_dict = {"Nama": "Nisya", "Umur": 24, "Kota": "Semarang"}
Nama = my_dict["Nama"]
Umur = my_dict.get("Umur")
my_dict["Umur"] = 24
my_dict["Negara"] = "Indonesia"
for key, value in my_dict.items():
  print(f"{key}: {value}")

Nama: Nisya
Umur: 24
Kota: Semarang
Negara: Indonesia